In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Demographic_Statistics_By_Zip_Code.csv")

In [3]:
data.head()

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,10001,44,22,0.50,22,0.50,0,0,44,100,...,44,100,20,0.45,24,0.55,0,0,44,100
1,10002,35,19,0.54,16,0.46,0,0,35,100,...,35,100,2,0.06,33,0.94,0,0,35,100
2,10003,1,1,1.00,0,0.00,0,0,1,100,...,1,100,0,0.00,1,1.00,0,0,1,100
3,10004,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,10005,2,2,1.00,0,0.00,0,0,2,100,...,2,100,0,0.00,2,1.00,0,0,2,100

In [4]:
data.shape

(236, 46)

In [5]:
data.columns

Index([u'JURISDICTION NAME', u'COUNT PARTICIPANTS', u'COUNT FEMALE',
       u'PERCENT FEMALE', u'COUNT MALE', u'PERCENT MALE',
       u'COUNT GENDER UNKNOWN', u'PERCENT GENDER UNKNOWN',
       u'COUNT GENDER TOTAL', u'PERCENT GENDER TOTAL',
       u'COUNT PACIFIC ISLANDER', u'PERCENT PACIFIC ISLANDER',
       u'COUNT HISPANIC LATINO', u'PERCENT HISPANIC LATINO',
       u'COUNT AMERICAN INDIAN', u'PERCENT AMERICAN INDIAN',
       u'COUNT ASIAN NON HISPANIC', u'PERCENT ASIAN NON HISPANIC',
       u'COUNT WHITE NON HISPANIC', u'PERCENT WHITE NON HISPANIC',
       u'COUNT BLACK NON HISPANIC', u'PERCENT BLACK NON HISPANIC',
       u'COUNT OTHER ETHNICITY', u'PERCENT OTHER ETHNICITY',
       u'COUNT ETHNICITY UNKNOWN', u'PERCENT ETHNICITY UNKNOWN',
       u'COUNT ETHNICITY TOTAL', u'PERCENT ETHNICITY TOTAL',
       u'COUNT PERMANENT RESIDENT ALIEN', u'PERCENT PERMANENT RESIDENT ALIEN',
       u'COUNT US CITIZEN', u'PERCENT US CITIZEN',
       u'COUNT OTHER CITIZEN STATUS', u'PERCENT OTHER CITIZEN STATUS',
       u'COUNT CITIZEN STATUS UNKNOWN', u'PERCENT CITIZEN STATUS UNKNOWN',
       u'COUNT CITIZEN STATUS TOTAL', u'PERCENT CITIZEN STATUS TOTAL',
       u'COUNT RECEIVES PUBLIC ASSISTANCE',
       u'PERCENT RECEIVES PUBLIC ASSISTANCE',
       u'COUNT NRECEIVES PUBLIC ASSISTANCE',
       u'PERCENT NRECEIVES PUBLIC ASSISTANCE',
       u'COUNT PUBLIC ASSISTANCE UNKNOWN',
       u'PERCENT PUBLIC ASSISTANCE UNKNOWN', u'COUNT PUBLIC ASSISTANCE TOTAL',
       u'PERCENT PUBLIC ASSISTANCE TOTAL'],
      dtype='object')

In [6]:
data[["COUNT AMERICAN INDIAN"]]

     COUNT AMERICAN INDIAN
0                        0
1                        0
2                        0
3                        0
4                        0
5                        0
6                        0
7                        0
8                        0
9                        0
10                       0
11                       0
12                       0
13                       0
14                       0
15                       0
16                       0
17                       0
18                       0
19                       0
20                       0
21                       0
22                       0
23                       0
24                       0
25                       0
26                       0
27                       0
28                       0
29                       0
..                     ...
206                      0
207                      0
208                      0
209                      0
210                      0
211                      0
212                      0
213                      0
214                      0
215                      0
216                      0
217                      0
218                      0
219                      0
220                      0
221                      0
222                      0
223                      0
224                      0
225                      0
226                      0
227                      0
228                      0
229                      2
230                      0
231                      0
232                      0
233                      0
234                      0
235                      0

[236 rows x 1 columns]

In [8]:
data[["COUNT AMERICAN INDIAN"]].sum()

COUNT AMERICAN INDIAN    5
dtype: int64